<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">32% di Sconto </span>
                <br><span class="subSconto">Promozione valida fino ad <span class="dataPromo">esaurimento posti</span></span><br>
                <span class="subSconto"><i>Ultimi 3 posti disponibili!</i></span>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">32% di Sconto </span>
                <br><span class="subSconto">Promozione valida fino ad <span class="dataPromo">esaurimento posti</span></span><br>
                <span class="subSconto"><i>Ultimi 3 posti disponibili!</i></span>
            </a>
        </div>
</div>