<section class="clearfix">
    <div class="row text-center">
        <div class="small-12 columns center">
            <span class="center">
                <%= partial "partials/callToAction" %>
            </span>
        </div>
    </div>
</section>