---
title: >
        Espositori da terra e da banco

description: >
        Progetazione e realizzazione di espositori da banco e da terra personalizzati

testata:
    prima_riga: <strong>Espositori</strong> in cartone
    seconda_riga: >

            Progettazione e produzione di espositori per il punto vendita

immagineTestata: https://prismic-io.s3.amazonaws.com/bilca/cd35938607ec89710c5315fe4915c13a1d3fb364_assemblaggio-001.jpg

---

<div class="row small-up-1 medium-up-1">
    <div class="columns callout">
        <h3 id="espositori">Espositori da terra</h3>

        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/98a86fc668b824e22a9474e98356face4ab46ee4_expo-da-terra-cerotti-disney-001-scontornato.jpg"><br>
                <i>Espositore per cerotti</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/3817faae414bc0ec3eb2dccc97ae6e2fb7252c6b_espositore-da-terra-caramelle---base--vasca-a-celle.jpg">
                <i>Espositore per caramelle</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/12cc346c1b441c116490393014bc87c47e7f4409_espositore-da-terra--modulare-vasche-sovrapponibili.jpg">
                <br><i>Espositore modulare</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/49e59666a54fa9c4434df9bc5f2d48f468c6742b_espositore-da-terra-alimentare---4-ripiani-automontante.jpg">
                <br><i>Espositore alimentare</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/88c837286f22165d9601426e7500a6905631cf85_espositore-da-terra--igiene-orale---espsoitore-esagonale-con-vaschette-port-prodotto.jpg">
                <br><i>Espositore per igene orale</i>
            </div>

        </div>
    </div>

    <div class="columns callout">
        <h3>Espositori da Banco</h3>

        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/8b0f247ef2df3f21b41cf04ee01ad99caf9f95b6_espositore-da-banco-cosmesi-per-gli-occhi.jpg">
                <br><i>Espositore per cosmesi</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/11b326a98240c0c01923e95922310c681c715802_espositore-da-banco-girevole-cosmesi-per-gli-occhi.jpg">
                <br><i>Espositore girevole</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/93f69321512837138fb8a0cd02133ea4fa5c1595_espositore-da-banco-make-up.jpg">
                <br><i>Espositore par make-up</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/0c1438ec60eb6761c36ec0a5601155fd4c3edfc8_espositore-da-banco-profumi.jpg">
                <br><i>Espositore per profumi</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/69672f61b47fc1442114938e50119872e99e58e2_espositore-da-banco-prodotti-per-le-labbra.jpg">
                <br><i>Espositore per rossetti</i>
            </div>

        </div>
    </div>
    <div class="columns callout">
        <h3>Banchetti, Totem</h3>
        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/8a6d669853e3443bdf7baaed51bd7357ad359be3_banchetto-con-teca-in-plexy.jpg">
                <br><i>Banchetto teca in plexyglass</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/60834f741cccccb06ef5ac8a5197e5871a27c7cd_banchetto-promozionale-con-tubi-e-cartello.jpg">
                <br><i>Banchetto con tubi e cartello</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/ee71c25d0973e577b327e3788bb0e6175dcc63a7_totem-basso.jpg">
                <br><i>Totem basso</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/2c390c33f9c1a5b6cb179a70c389846080fe4da7_desk-promozionale---con-ripiani-per-gadget.jpg">
                <br><i>Desk promozionale</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/5ce1cc6bc912d85bc6d76be5dd2c76363f334298_totem-promozionale.jpg">
                <br><i>Totem promozionale</i>
            </div>

        </div>
    </div>
    <div class="columns callout">
        <h3>Isole</h3>
        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/0b22c9d82973716e775662f70257babc12d5e1ac_isola-inverno-igloo.jpg">
                <br><i>Isola inverno globo</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/8446dbafd69ced2766960f2b9422f7438198ee81_isola-estate.jpg">
                <br><i>Isola estate</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/1cda6352616831ef7392bb6de48d0e39d657cafe_isola-1-posto-pallet-con-monitor.jpg">
                <br><i>Isola con monitor</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/ebfc2044ef7b555b21a46bdd2087d0b7f1a736c6_isola-halloween.jpg">
                <br><i>Isola halloween</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/f9aa3d22d6569fc4de8c359a2306b15cfc31f6ee_arco-240-x-160-cm.jpg">
                <br><i>Arco 240x160 cm</i>
            </div>

        </div>
    </div>

    <div class="columns callout">
        <h3>Vetrine e altro</h3>
        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/c1d0d75fc7b17a839fa3c75e83ebaf489a291174_vetrina-rossetto.jpg">
                <br><i>Vetrina rossetto</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/d22c5f2abdc3b99ddfbd9aab683849c4cfde65e0_vetrina-gold.jpg">
                <br><i>Vetrina gold</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/18da478eb0825c0128123a635893d4c8bb73976c_candela.jpg">
                <br><i>Candela</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/12259ebb4d91a83a5c39d1907baa0d01147f424e_vetrina-black.jpg">
                <br><i>Vetrina balck</i>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/e1359dd1c16e7f79af80dd0682f410a63cf05e12_arco-250-x-250-cm.jpg">
                <br><i>Arco 250x250 cm</i>
            </div>

        </div>
    </div>

</div>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <h3 class="subheader" id="progettazione">La progettazione </h3>
        <hr>

        <p>
            Il lavoro di progettazione di un espositore per la vendita di un prodotto parte dall'<strong>ascolto delle esigenze del cliente</strong>:
        </p>
        <ul>
            <li>Dimensioni del prodotto, peso e volume</li>
            <li>Quantità di prodotti da esporre</li>
            <li>Spazio da occupare sul punto vendita</li>
            <li>Budget a disposizione</li>
        </ul>

        <p>
            Raccolti questi dati realizziamo un <strong>prototipo</strong> ed insieme al cliente effettueremo tutte le modifiche del caso per renderlo soddisfatto.
        </p>

        <p>
            Per gli espositori a <strong>scopo pubblicitario</strong> lavoriamo fianco a fianco con il cliente al fine di ottimizzare al meglio la
            produzione dell'espositore in termini di <strong>qualità e costi</strong>.
        </p>
    </div>

    <div class="columns">
        <h3 class="subheader">Materiali utilizzati</h3>
        <hr>

        <p>
            Per i nostri prodotti utilizziamo principalmente i seguenti materiali:
        </p>
        <ul class="largo">
            <li>
                Cartone Teso e Accoppiato su supporti vari (carta ondulata , pressato , laminil, polistirolo)
            </li>
            <li>
                Plastica/plexiglass
            </li>
            <li>
                Metallo
            </li>
            <li>
                Legno
            </li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/80d4c3aa2d2ee8a2e84f43e0d575573abe99040d_progettazione-017.jpg">
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>
<hr>
<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/03d5e47c557b9409c9057c857f6197cbd251712c_accoppiatura-004.jpg">
    </div>
    <div class="columns">
        <h3 class="subheader" id="bilcasrl">Perchè scegliere BILCA S.r.l.</h3>
        <p>
            <ul class="largo">
                <li>
                    <strong>Ascoltiamo</strong> le tue esigenze
                </li>
                <li>
                    Abbiamo <strong>oltre 40 anni di esperienza</strong>
                </li>
                <li>
                    Realizziamo materiali <strong>personalizzati</strong> sul tipo di prodotto
                </li>
                <li>
                    Vi seguiamo ad ogni passo: PROGETTAZIONE, PRODUZIONE, CONSEGNA
                </li>
                <li>
                    Siamo veloci e puntuali, sempre al miglior prezzo!
                </li>
                <li>
                    Siamo flessibili: <strong>realizziamo dal singolo pezzo alle grandi tirature</strong>
                </li>
                <li>
                    Tutte le lavorazioni avvengono internamente, <strong>nessun costo aggiuntivo per movimentazione</strong> tra una lavorazione e l'altra
                </li>
                <li>
                    Puoi stoccare il tuo materiale nei nostri magazzini
                </li>
                <li>
                    Offriamo sempre la <strong>campionatura gratuita</strong> (in bianco)
                </li>
                <li>
                    Effettuiamo lavorazioni per la grande distribuzione
                </li>
                <li>
                    Effettuiamo lavorazioni di alta qualità (per farmacie, profumerie ecc...)
                </li>
            </ul>
        </p>
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row show-for-large">
    <h2 class="subheader">Oltre 100 clienti soddisfatti!</h2>
</div>
<br>
<div class="row show-for-large">

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/0bb2e5eb6b5def66b9d1154f5143207180a670f4_panettoni-tre-marie.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/84cda3a9649eb22f607c1d872fe87cd9c7ec8eee_orphea-332084858b3b238g6c03935e4eb16b9c.png">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/c5254825ffc55847b7e589cd9db5dc71f5540ec2_29e7777.png">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/d0da35ea9399ea33104a84e3d92d647c0c24d00e_beiersdorf-logo-narrow.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/4a5a48c417d8d80aa2dbb1a56677e8003768b8f9_logo_lvmh_pc1.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/81503dc44fef8adf6c6cf58c715674d37869fa1d_bsn.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/e5d8bac1d1919250a9d9db981168dd17ab24219a_20131207164107logo_paluani.png">
    </div>





    <!-- <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6e8a76a4f94874a4d186ba1db1afb444c0e4c0ba_loghi-defibrillatori.png">
    </div> -->
</div>
<hr>

<div class="row">
    <div class="column small-12 medium-3">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/cd4a2440e59e2118f64c3d94154e83fca279c347_incollatura-a-caldo-003.jpg">
    </div>
    <div class="column">
        <h2 class="subheader">Bilca S.r.l</h2>

        <p>
            Bilca S.r.l. fonda le sue radici nel <strong>1960</strong> quando il fondatore dell'azienda si occupava di produrre astucciame in cartone come responsabile di produzione di una grossa azienda cartotecnica.
        </p>
        <p>
            L'unione di una grande competenza tecnica nel settore della cartotecnica e l'esperienza commerciale di uno dei due soci fondatori ha dato inizio a <strong>Bilca S.r.l. nel 1999</strong>!
        </p>
        <p>
            <i>Passione, innovazione e tanta voglia di scommettere sul futuro</i> sono i valori che portano Bilca S.r.l. ad essere un punto di riferimento in italia per la progettazione e la realizzazione di espositori in cartone.
        </p>
    </div>

</div>



