---
title: >
        Espositori da terra e da banco

description: >
        Progetazione e realizzazione di espositori da banco e da terra personalizzati

testata:
    prima_riga: <strong>Espositori</strong> in cartone
    seconda_riga: >

            Progettazione e produzione di espositori per il punto vendita

immagineTestata: https://prismic-io.s3.amazonaws.com/bilca/cd35938607ec89710c5315fe4915c13a1d3fb364_assemblaggio-001.jpg

---

<div class="row small-up-1 medium-up-1">
    <div class="columns callout">
        <h3 id="espositori">Espositori da terra</h3>

        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/9df6f7185e4daebc9a623defae204da8a362744f_johnson-wax---expo-vasche-mr-muscle-candeggina-72pz-scontornato.jpg"><br>
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/447d57771bf1a6cf14cbf84d50790c846fad4d5d_johnson-wax---expo-glade-sense--spray-60-pz-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/d2548d6f8a0f8a7b583e06665fbf51a65563ad42_johnson-wax---expo-glade-ricariche.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/66c17abeed1fd98393de8fbff1c9d464fa5ae74f_johnson-wax---expo-raid-mosche-e-zanzare-60-pz.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/8776eae90535074ee11a2efb010b0ae33fc83043_4mktg---floorstand-epifania-2017.jpg">
            </div>

        </div>
    </div>

    <div class="columns callout">
        <h3>Espositori da Banco</h3>

        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/17a1ca401368279a6875c11f42ac32a8e4903621_bdf---expo-aquaporin-active-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/3a721c1778d9eb411e444ad0f345cd68c5e43e06_campari---expo-da-banco-campari-soda-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/cd6cb6f1687bc89321cdd5b318e7978268861130_johnson-wax---expo-autan-tabaccai-005.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/2aead4e38ace5d4531d761d4639d996dc0cdfa0c_johnson-wax---expo-da-banco-autan-001-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/50a82aab0bd068720b45501e741e2f4570b52625_20170712_121027.jpg">
            </div>

        </div>
    </div>
    <div class="columns callout">
        <h3>Banchetti, Totem</h3>
        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/bb7c9a8dba5051b501ba7cc8b15f4122f8b26b3b_errebi---expo-tonno-rio-mare-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/be3a7f04b53355b85abceb672d7f9b45c3888632_aladino---banchetto-hansaplast.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/1ef4d66161b56e1c8ba450ce1f8400c5456e29fc_aladino---isola-nivea-sun.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/da7d982bb55b51fb7f993690f0e1847bf7a970d0_duracell---i-tunes-totem-ovale-001.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/2e988c180b34a9ed8e20ec54f740e2e90308ff50_aladino---totem-rowenta.jpg">
            </div>

        </div>
    </div>
    <div class="columns callout">
        <h3>Isole, Archi</h3>
        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/662aaae4e06b179c52000c70141a65c69697b802_johnson-wax---isola-mr-muscle-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/db96f7bb78bfdd48f02a217caf8b3987b6da8f61_4mktg---isole-halloween-e-epifania.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/1562d663080630150a10405826b437d8062d8db9_aladino---isola-3x3-cars-3-fronte.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/a4459c4fe015f90e551ff75a152a5b0c80cd32e8_aladino-isola-disney-principesse-2016.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/2a07fa05e5f2ff5f281c559d0360fa4999608087_aladino---arco-nivea-cleaning.jpg">
            </div>

        </div>
    </div>

    <div class="columns callout">
        <h3>Vetrine e altro</h3>
        <hr>

        <div class="row small-up-1 medium-up-5 align-middle">
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/dcb8d27ecbdc293f5650033b5072f25b5bbf3774_bdf---vetrina-solari-scontornata.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/a6a8c1ad71cf525db528cd95f799a1fc259e71fb_lvmh---fan-di-fendi.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/8cb40f7d4605d83e0354e4dde03d1a4b937ce37e_givenchy---vetrina-3-cubi-scontornato.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/60619b981095342c6641056e78dce16cf5f477cf_studio-fm---vetrina-bulgari-goldea.jpg">
            </div>
            <div class="column">
                <img class="thumbnail" src="https://prismic-io.s3.amazonaws.com/bilca/13dd24c82786c365613b9a9adf16c5ec052ba38b_20160831_143132-.jpg">
            </div>

        </div>
    </div>

</div>

<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <h3 class="subheader" id="progettazione">La progettazione </h3>
        <hr>

        <p>
            Il lavoro di progettazione di un espositore per la vendita di un prodotto parte dall'<strong>ascolto delle esigenze del cliente</strong>:
        </p>
        <ul>
            <li>Dimensioni del prodotto, peso e volume</li>
            <li>Quantità di prodotti da esporre</li>
            <li>Spazio da occupare sul punto vendita</li>
            <li>Budget a disposizione</li>
        </ul>

        <p>
            Raccolti questi dati realizziamo un <strong>prototipo</strong> ed insieme al cliente effettueremo tutte le modifiche del caso per renderlo soddisfatto.
        </p>

        <p>
            Per gli espositori a <strong>scopo pubblicitario</strong> lavoriamo fianco a fianco con il cliente al fine di ottimizzare al meglio la
            produzione dell'espositore in termini di <strong>qualità e costi</strong>.
        </p>
    </div>

    <div class="columns">
        <h3 class="subheader">Materiali utilizzati</h3>
        <hr>

        <p>
            Per i nostri prodotti utilizziamo principalmente i seguenti materiali:
        </p>
        <ul class="largo">
            <li>
                Cartone Teso e Accoppiato su supporti vari (carta ondulata , pressato , laminil, polistirolo)
            </li>
            <li>
                Plastica/plexiglass
            </li>
            <li>
                Metallo
            </li>
            <li>
                Legno
            </li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/80d4c3aa2d2ee8a2e84f43e0d575573abe99040d_progettazione-017.jpg">
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>
<hr>
<div class="row small-up-1 medium-up-2">
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/03d5e47c557b9409c9057c857f6197cbd251712c_accoppiatura-004.jpg">
    </div>
    <div class="columns">
        <h3 class="subheader" id="bilcasrl">Perchè scegliere BILCA S.r.l.</h3>
        <p>
            <ul class="largo">
                <li>
                    <strong>Ascoltiamo</strong> le tue esigenze
                </li>
                <li>
                    Abbiamo <strong>oltre 40 anni di esperienza</strong>
                </li>
                <li>
                    Realizziamo materiali <strong>personalizzati</strong> sul tipo di prodotto
                </li>
                <li>
                    Vi seguiamo ad ogni passo: PROGETTAZIONE, PRODUZIONE, CONSEGNA
                </li>
                <li>
                    Siamo veloci e puntuali, sempre al miglior prezzo!
                </li>
                <li>
                    Siamo flessibili: <strong>realizziamo dal singolo pezzo alle grandi tirature</strong>
                </li>
                <li>
                    Tutte le lavorazioni avvengono internamente, <strong>nessun costo aggiuntivo per movimentazione</strong> tra una lavorazione e l'altra
                </li>
                <li>
                    Puoi stoccare il tuo materiale nei nostri magazzini
                </li>
                <li>
                    Offriamo sempre la <strong>campionatura gratuita</strong> (in bianco)
                </li>
                <li>
                    Effettuiamo lavorazioni per la grande distribuzione
                </li>
                <li>
                    Effettuiamo lavorazioni di alta qualità (per farmacie, profumerie ecc...)
                </li>
            </ul>
        </p>
    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row show-for-large">
    <h2 class="subheader">Oltre 100 clienti soddisfatti!</h2>
</div>
<br>
<div class="row show-for-large">

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/0bb2e5eb6b5def66b9d1154f5143207180a670f4_panettoni-tre-marie.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/84cda3a9649eb22f607c1d872fe87cd9c7ec8eee_orphea-332084858b3b238g6c03935e4eb16b9c.png">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/c5254825ffc55847b7e589cd9db5dc71f5540ec2_29e7777.png">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/d0da35ea9399ea33104a84e3d92d647c0c24d00e_beiersdorf-logo-narrow.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/4a5a48c417d8d80aa2dbb1a56677e8003768b8f9_logo_lvmh_pc1.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/81503dc44fef8adf6c6cf58c715674d37869fa1d_bsn.jpg">
    </div>

    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/e5d8bac1d1919250a9d9db981168dd17ab24219a_20131207164107logo_paluani.png">
    </div>





    <!-- <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6e8a76a4f94874a4d186ba1db1afb444c0e4c0ba_loghi-defibrillatori.png">
    </div> -->
</div>
<hr>

<div class="row">
    <div class="column small-12 medium-3">
        <img src="https://prismic-io.s3.amazonaws.com/bilca/cd4a2440e59e2118f64c3d94154e83fca279c347_incollatura-a-caldo-003.jpg">
    </div>
    <div class="column">
        <h2 class="subheader">Bilca S.r.l</h2>

        <p>
            Bilca S.r.l. fonda le sue radici nel <strong>1960</strong> quando il fondatore dell'azienda si occupava di produrre astucciame in cartone come responsabile di produzione di una grossa azienda cartotecnica.
        </p>
        <p>
            L'unione di una grande competenza tecnica nel settore della cartotecnica e l'esperienza commerciale di uno dei due soci fondatori ha dato inizio a <strong>Bilca S.r.l. nel 1999</strong>!
        </p>
        <p>
            <i>Passione, innovazione e tanta voglia di scommettere sul futuro</i> sono i valori che portano Bilca S.r.l. ad essere un punto di riferimento in italia per la progettazione e la realizzazione di espositori in cartone.
        </p>
    </div>

</div>



